# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.vscode

# System files
.DS_Store
Thumbs.db

*.zip
dist/
node_modules/
/.vs/Front/FileContentIndex/7ba2552e-32bb-438d-9375-a1263aa0f64e.vsidx
/.vs/Front/FileContentIndex/101a9610-8cc0-4c27-80ba-06877d0b90e8.vsidx
/.vs/Front/v17
/.vs/Front/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
