/* :host ::ng-deep .p-dropdown-filter-container {
    @apply !p-3;
} */
/* :host ::ng-deep .p-dropdown-filter {
    @apply !rounded-xl !border-slate-100 dark:!border-slate-800 dark:!bg-slate-800 !text-sm;
} */
/* :host ::ng-deep .p-dropdown-items-wrapper {
    @apply custom-scrollbar;
}
 */
